.app__navbar {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem ;
  position: fixed;

  background: rgba(2, 48, 71, 0.95);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 10;

  .app__navbar-links {
    display: flex;
    align-items: center;

    list-style: none;

    li {
      padding: 1rem;

      a {
        color: var(--secondary-color);
        text-decoration: none;
        text-transform: uppercase;
  
        font-weight: 500;
  
        transition: all 0.3s ease-in-out;

        cursor: pointer;
  
        &:hover {
          color: var(--primary-color);
        }
      }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  background-color: var(--secondary-color);
  border-radius: 50%;

  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  svg {
    width: 70%;
    height: 70%;
    color: white;
  }

  div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

    z-index: 5;

    padding: 1rem;

    width: 60%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    background: url('../../assets/blackboardbg.jpeg');
    background-size: cover;
    background-repeat: repeat;
    background-position: 80%;

    border-left: #303030 1px solid;

    svg {
      width: 35px;
      height: 35px;
      color: var(--gray-color);
      margin: 0.5rem 1rem;
      box-shadow: 0 0 5px var(--gray-color);
      border-radius: 50%;
    }

    ul {
      
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      
      li {
        margin: 1rem;
        
        a {

          text-decoration: none;
          color: #fff;
          font-size: 1rem;
          text-transform: uppercase;

          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }
  @media screen and (min-width: 900px) {
    display: none;
  }
}

